
/***TOPBAR***/
.menu-page-menu{
    height: 42px;
    margin: 5px -15px 0 -15px;
    font-size: 12px;
    background: #083860 ;
}
.menu-page-menu .dropdown{
    line-height: 44px;
}
.menu-page-menu .dropdown a{
    color: #fff;
}
.menu-page-menu .dropdown-menu{
    background-color: #083860 ;
    border-radius: 0px;
    padding: 3px 0 0 0;
    width: 195px;
    /*display: block;*/
}
.drop .menu-page-menu .dropdown-menu{
    background-color: #083860 ;
    border-radius: 0px;
    padding: 3px 0 0 0;
    width: 195px;
    display: block;
}
.menu-page-menu .dropdown-menu li a{
    padding: 5px 0 6px 0;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.menu-page-menu .dropdown-menu li a:hover{
    background: #fff;
    color: #38af4b;
}
.menu-page-menu .glyphicon{
    padding: 0 3px;
    font-size: 16px;
}

.dropdown-submenu{
    position: relative;
}
ul, ol {
    list-style: outside none none;
}
.dropdown-submenu:nth-child(1) .dropdown-menu{
    top: -6px;
    left: 100%;
    display: none;
    width: 300px;
    height: 200px;
    background: #fff;
}
.dropdown-submenu:nth-child(2) .dropdown-menu{
    top: -38px;
    left: 100%;
    display: none;
    width: 150px;
    height: 200px;
    background: #fff;
}
.dropdown-submenu:nth-child(3) .dropdown-menu{
    top: -70px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(4) .dropdown-menu{
    top: -102px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(5) .dropdown-menu{
    top: -134px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(6) .dropdown-menu{
    top: -166px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(7) .dropdown-menu{
    top: -198px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(8) .dropdown-menu{
    top: -230px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu:nth-child(9) .dropdown-menu{
    top: -262px;
    left: 100%;
    display: none;
    width: 780px;
    height: 293px;
    background: #fff;
}
.dropdown-submenu .dropdown-menu ul{
    padding-left: 0 !important;
}
.dropdown-submenu .dropdown-menu li a{
    border-bottom: none;
    font-size: 12px;
}
.dropdown-submenu .level2 .level2-i{
    margin-left: 20px;
}
.dropdown-submenu .level2 .level2-i .color-txt{
    color: red;
}
.dropdown-submenu .level2 li{
    margin-right: 10px;
}
.dropdown-submenu:hover>.dropdown-menu{
    display: block;
}
.dropdown-submenu .level3 li{
    line-height: 20px;
}
.dropdown-submenu .level3 a{
    color: #000 !important;
}
.otintuc{
    width: 100%;
    overflow: hidden;
    border: 1px solid #dedede;
    margin-bottom: 3px;
}
.otintuc > span > a > img {
    float:left;
    width: 50px;
}
.otintuc > h4 {
    float: right;
    line-height: 14px;
    font-size: 12px;
}
.tintuc h3{
    height: 42px;
    padding: 9px 0px 0px 20px;
    /*margin: 5px -15px 0 -15px;*/
    font-size: 18px;
    background: #083860;
    display: block;
    color: #fff;
}
.tintuc {
    margin-top: 5px;
}
@media (max-width: 767px){
    .tintuc{
        display: none;
    }
}