
body {
    color: #000000;
    font-family: Arial,tahoma,verdana;
    font-size: 12px;
}
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.clear {
    clear: both;
}
.content {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.box_search_all {
    background: url("../images/background_box_search.png") no-repeat scroll left top, #2d519d url("../images/background_box_search2.png") repeat-x scroll right top;
    border-radius: 5px;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
.title_box_search {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 43px;
    margin: 0 0 0 45px;
}
.b_search_content {
    padding: 0 7px;
}
.b_search_row {
	height: 21px;
    padding-bottom: 14px;
    margin-bottom: 14px;
}
.b_search_text {
    color: #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
}
.select_b_search {
    float: left;
    margin: 0;
    padding: 2px 0;
    width: 115px;
}
.row_car_hot_group {
    padding-bottom: 10px;
}
.row_car_hot_group {
    background: #fff url("../images/midle_box_car_1x38.gif") repeat-x scroll left top;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.title_car_hot {
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 8px 8px 8px 35px;
}
a.title_b_car, .title_b_car {
    color: #254588;
    font-size: 18px;
    font-weight: bold;
}

.box_car_hot {
    padding-bottom: 14px;
}
.div_name_car_hot {
    background: #083860;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 3px 10px;
    text-align: center;
}
a.a_name_car_hot {
    color: #ffffff;
    font-weight: bold;
}
a {
    color: #244487;
    text-decoration: none;
}
img {
    max-width: 100% !important;
}
.img_car_list {
    border-radius: 5px;
    float: left;
    width: 115px;
}

.b_car_information {
    float: right;
    padding-left: 15px;
    width: calc(100% - 115px);
}
.b_car_information {
    font-size: 11px;
}
.tbold {
    font-weight: bold;
}
.span_price {
    color: #ff0000;
    font-weight: bold;
}
.div_book_car {
    background:  #083860;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 20px;
    margin-top: 7px;
    padding-left: 27px;
    width: 83px;
}
.div_book_car {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 5px;
}
a.a_book_car {
    color: #ffffff;
}
.box_search_2_all {
    background: #fff;
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.title_box_support {
    color: #254589;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.box_promotion {
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
}
.title_promotion {
    background: rgba(0, 0, 0, 0);
    color: #254589;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 2px;
}
.b_promotions_row {
    padding-bottom: 10px;
}
.img_promotion {
    float: left;
    width: 75px;
}

.b_promotions_text {
    float: left;
    padding-left: 8px;
    width: calc(100% - 80px);
}
.b_pro_text_1 A {
    font-size: 11px;
    font-weight: bold;
}
.price_source {
    font-size: 11px;
    text-decoration: line-through;
}
.f11 {
    font-size: 11px;
}
.span_price {
    color: #ff0000;
    font-weight: bold;
}
.fa-car{
	margin: 0 10px 0px 0px;
}
.breadcrumbs {
    float: left;
    font-size: 11px;
    padding-bottom: 5px;
    width: 100%;
}
.breadcrumbs {
    font-size: 11px;
}
.breadcrumbs div {
    background: rgba(0, 0, 0, 0) url("../images/arrow2.png") no-repeat scroll left center;
    float: left;
    padding-left: 13px;
    padding-right: 10px;
}
.breadcrumbs div a, .tblue_span {
    color: #254589;
    font-weight: normal;
}
.canvas {
    background: #fff;
    left: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    z-index: 2;
}
.fixed-container {
    background-color: #ffffff;
    left: 0 !important;
    padding: 10px 10px 10px 0;
    right: 0 !important;
}
.top {
    padding: 10px 0;
}
.margin-fixed-top {
    padding: 10px 0;
}
.no-padding {
    padding: 0;
}
.pos-res {
    position: relative;
}
.logo {
    display: block;
    float: left;
    margin-left: 15px;
}
.search-width {
    width: 250px;
}
.click-to-call > a {
    background: #43b64f;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-right: 7px;
    /*margin-top: 7px;*/
    padding: 2px 5px;
    text-decoration: none;
}
.myAccountlink a{
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
}
.navbar-inverse {
    background: #083860;
}
.navbar {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    min-height: 0;
    padding: 0;
}
.topLinks {
    width: 100%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.topLinks a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 53px;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #38af4b;
    color: #ffffff;
}
.dropdown-menu li a {
    line-height: 2.5em;
}
@media (max-width: 768px) { 
    .box_search_all {
    background: url("../images/background_box_search.png") no-repeat scroll left top, #2d519d url("../images/background_box_search2.png") repeat-x scroll right top;
    border-radius: 5px;
    margin-bottom: 6px;
    padding-bottom: 10px;
    width: 100%;
    }
    .col-xs-2-5 {
        width: 100%;
    }
    .col-xs-2 {
        width: 100%;
    }
    .col-xs-7 {
        width: 100%;
    }
}
.navbar-form {
    margin-top: 30px;
}
.footer {
    background: #083860;
    color: #BBB;
    float: left;
    line-height: 17px;
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
}
.full {
    width: 100%;
}
.lft {
    float: left;
}
.footer .tglv {
    width: 200px;
    float: left;
    margin-left: 20px;
}
.footer .title {
    border-bottom: solid 1px #BBB;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0;
    width: 100%;
}
.footer .title {
    border-bottom: solid 1px #BBB;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0;
    width: 100%;
}
.footer .gd {
    width: 200px;
    float: left;
    margin: 0px 20px;
}
.footer .dvcq {
    width: 350px;
    float: left;
    margin: 0px 20px;
}
.footer-social {
    margin: 20px;
    padding: 10px 0;
    text-align: center;
}
.footer .dm {
    width: 150px;
    float: left;
    margin: 0px 30px;
}
.nd_foot a{
    color: white;
}
.nd_foot li{
    list-style-type: none;
}
.nd_foot ul{
    padding-left: 0px;
}
.navbar-fixed-left {
  width: 100%;
  /*position: fixed;*/
  border-radius: 0;
  height: 100%;
}

.navbar-nav {
  width: 100%;
}
.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 100%;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  /*margin-top: -50px;
  margin-left: 228px;*/
  width: 100%;
  position: relative;
}