
BODY {
    color: #000000;
    font-family: Arial,tahoma,verdana;
    font-size: 12px;
}
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.clear {
    clear: both;
}
.content {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.box_search_all {
    background: url("../images/background_box_search.png") no-repeat scroll left top, #2d519d url("../images/background_box_search2.png") repeat-x scroll right top;
    border-radius: 5px;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
.title_box_search {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 43px;
    margin: 0 0 0 45px;
}
.b_search_content {
    padding: 0 7px;
}
.b_search_row {
	height: 21px;
    padding-bottom: 14px;
    margin-bottom: 14px;
}
.b_search_text {
    color: #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
}
.select_b_search {
    float: left;
    margin: 0;
    padding: 2px 0;
    width: 115px;
}
.row_car_hot_group {
    padding-bottom: 10px;
}
.row_car_hot_group {
    background: #fff url("../images/midle_box_car_1x38.gif") repeat-x scroll left top;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.title_car_hot {
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 8px 8px 8px 35px;
}
a.title_b_car, .title_b_car {
    color: #254588;
    font-size: 18px;
    font-weight: bold;
}
.box_car_hot:nth-of-type(2n+1) {
    clear: both;
}
.box_car_hot {
    padding-bottom: 14px;
}
.div_name_car_hot {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #020202, #67686d) repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 3px 10px;
    text-align: center;
}
a.a_name_car_hot {
    color: #ffffff;
    font-weight: bold;
}
A {
    color: #244487;
    text-decoration: none;
}
A IMG {
    border: medium none;
}
img {
    max-width: 100% !important;
}
.img_car_list {
    border-radius: 5px;
    float: left;
    width: 115px;
}

.b_car_information {
    float: right;
    padding-left: 15px;
    width: calc(100% - 115px);
}
.b_car_information {
    font-size: 11px;
}
.tbold {
    font-weight: bold;
}
.span_price {
    color: #ff0000;
    font-weight: bold;
}
.div_book_car {
    background: rgba(0, 0, 0, 0) url("bg_input_book_car_83x21.gif") no-repeat scroll 0 0;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 20px;
    margin-top: 7px;
    padding-left: 27px;
    width: 83px;
}
.div_book_car {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}
a.a_book_car {
    color: #ffffff;
}
.box_search_2_all {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.title_box_support {
    color: #254589;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.box_promotion {
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
}
.title_promotion {
    background: rgba(0, 0, 0, 0) url("left_b_promotions_28x23.gif") no-repeat scroll 0 0;
    color: #254589;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 2px;
}
.b_promotions_row {
    padding-bottom: 10px;
}
.img_promotion {
    float: left;
    width: 75px;
}

.b_promotions_text {
    float: left;
    padding-left: 8px;
    width: calc(100% - 80px);
}
.b_pro_text_1 A {
    font-size: 11px;
    font-weight: bold;
}
.price_source {
    font-size: 11px;
    text-decoration: line-through;
}
.f11 {
    font-size: 11px;
}
.span_price {
    color: #ff0000;
    font-weight: bold;
}
.fa-car{
	margin: 0 10px 0px 0px;
}
.breadcrumbs {
    float: left;
    font-size: 11px;
    padding-bottom: 5px;
    width: 100%;
}
.breadcrumbs {
    font-size: 11px;
}
.breadcrumbs div {
    background: rgba(0, 0, 0, 0) url("../images/arrow2.png") no-repeat scroll left center;
    float: left;
    padding-left: 13px;
    padding-right: 10px;
}
.breadcrumbs div a, .tblue_span {
    color: #254589;
    font-weight: normal;
}
