@media screen {
	* {
		margin: 0;
		padding: 0;
	}

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
	}


	article, aside, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	.borderHinh {
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #3d3d29;
	}
	.imgAllCars {
		width: 200px;
		height: 150px;
	}
	.url_hinhxe {
		width : 200px;
		height: 150px;
	}
	
}
.error {
	color: red;
	font-size: 12px;
	font-style:italic;
}